<div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> Simple Table
          </div>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Usuarios</th>
                  <th>Fecha de registro</th>
                  <th>Roles</th>
                  <th>Estatus</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Samppa Nori</td>
                  <td>2012/01/01</td>
                  <td>Member</td>
                  <td>
                    <span class="badge badge-success">Active</span>
                  </td>
                </tr>
                <tr>
                  <td>Estavan Lykos</td>
                  <td>2012/02/01</td>
                  <td>Staff</td>
                  <td>
                    <span class="badge badge-danger">Banned</span>
                  </td>
                </tr>
                <tr>
                  <td>Chetan Mohamed</td>
                  <td>2012/02/01</td>
                  <td>Admin</td>
                  <td>
                    <span class="badge badge-secondary">Inactive</span>
                  </td>
                </tr>
                <tr>
                  <td>Derick Maximinus</td>
                  <td>2012/03/01</td>
                  <td>Member</td>
                  <td>
                    <span class="badge badge-warning">Pending</span>
                  </td>
                </tr>
                <tr>
                  <td>Friderik Dávid</td>
                  <td>2012/01/21</td>
                  <td>Staff</td>
                  <td>
                    <span class="badge badge-success">Active</span>
                  </td>
                </tr>
              </tbody>
            </table>
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Prev</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!--/.col-->
      <div class="col-sm-6">
          <div class="card">
            <div class="card-header">
              <strong>Usuarios</strong>
              <small>Form</small>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label for="company">Usuarios</label>
                <input type="text" class="form-control" id="company" placeholder="Enter your company name">
              </div>
              <div class="form-group">
                <label for="vat">Rol</label>
                <input type="text" class="form-control" id="vat" placeholder="PL1234567890">
              </div>
              <div class="form-group">
                <label for="street">Street</label>
                <input type="text" class="form-control" id="street" placeholder="Enter street name">
              </div>
              <div class="row">
                <div class="form-group col-sm-8">
                  <label for="city">City</label>
                  <input type="text" class="form-control" id="city" placeholder="Enter your city">
                </div>
                <div class="form-group col-sm-4">
                  <label for="postal-code">Postal Code</label>
                  <input type="text" class="form-control" id="postal-code" placeholder="Postal Code">
                </div>
              </div><!--/.row-->
              <div class="form-group">
                <label for="country">Country</label>
                <input type="text" class="form-control" id="country" placeholder="Country name">
              </div>
              <div class="form-actions">
                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                <button class="btn btn-secondary" type="button">Cancelar</button>
              </div>
            </div>
          </div>
        </div><!--/.col-->
      <!--/.col-->
    </div>

    

</div>
