<div class="form-group">
  <mat-card class="border">                      
    <mat-card-subtitle>  
    <label>{{tituloLista}}</label>
    <ng-template>
        <input matInput class="col-sm-12 form-control">
    </ng-template>   
  </mat-card-subtitle>                             
    <mat-card-content>                              
        <div class="border" style="height: 245px; overflow: auto;">
            <ul class="list-group">
              <li (click)="itemSelect($event, elemento)" style="height: 45px;" *ngFor="let elemento of elementos" value="elemento"  class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                {{elemento.nombre}}                                
                <mat-checkbox color="primary" (click)="itemSelect($event, elemento)" [(ngModel)]="elemento.selected" style="margin-top: 8px;"></mat-checkbox>                                                                               
              </li>
            </ul>                                                                     
        </div>
    </mat-card-content>
  </mat-card>
</div>                    